<div class="main">
  <div class="header" #header>
    <div class="logo">
      
    </div>
    <div class="nav">
      
    </div>
  </div>
  <div class="center-info">
    <div class="center-info__box" #centerBox>
      <div class="center-info__box--left">Z nami możesz <span>więcej</span></div>
      <div class="center-info__box--right">
        <img src="../../../assets/InForma_id/InForma_id/LOGO/LOGO_png/LOGO_01_kolor_biale tlo.jpg">
      </div>
    </div>
  </div>
  <section class="section-one" #sectionOne>
    <figure class="image-container one">
      <img src="../../../assets/catering_food_photos/png/dieta_dwege.png" alt="image 1" />
      <figcaption class="caption">10</figcaption>
    </figure>
    <figure class="image-container">
      <img src="../../../assets/catering_food_photos/png/dieta_gluten free.png" alt="image 2" #imageSecond />
      <figcaption class="caption" #imageSecondCap>diet</figcaption>
    </figure>
    <figure class="image-container" #imageThird>
      <div class="fig">specjalnie</div>
      <figcaption class="caption">

      </figcaption>
    </figure>
    <figure class="image-container">
      <figcaption class="caption" #imageFourthCap>
        '21
      </figcaption>
      <img src="../../../assets/catering_food_photos/png/dieta_wege+ryba.png" alt="image 2" #imageFourth />
      <figcaption class="caption">
        dla Ciebie
      </figcaption>
    </figure>
    <figure class="image-container" #imageFifth>
      <img src="../../../assets/catering_food_photos/png/salatka.png" alt="image 2" />
    </figure>
  </section>
  <section class="section-two">
    <div class="letter" #letter>
      <span>Informa</span>
      <span>(Rybnik)</span>
    </div>
    <div class="titles" #titles>
      <div class="title-1">
        <span class="num">01</span>
        <h1>Tel: <a href="tel:+48731049758">731 049 758</a></h1>
      </div>
      <div class="title-1">
        <span class="num">02</span>
        <h2>Mail: <a href="mailto:informacatering@gmail.com">informacatering@gmail.com</a></h2>
      </div>
    </div>
    <div class="paragraph" #paragraph>
      <ul>W cenie:
        <li>Konsultacje i porady dietetyczne</li>
        <li>Konsultacje treningowe</li>
        <li>Dostawa na terenie całego Śląska</li>
      </ul>
      <br/>
        Ul. Wawelska 2A
      <br />
        44-217 Rybnik
    </div>
    <figure class="image-1" #imgOne>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.065221113987!2d18.52297021571887!3d50.10378617942894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47114f339b599219%3A0xfed39f5d20fffff3!2sWawelska%202a%2C%2044-217%20Rybnik!5e0!3m2!1sen!2spl!4v1616831221345!5m2!1sen!2spl"
        width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </figure>
    <figure class="image-2" #imgTwo>

    </figure>
  </section>
</div>